@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: boder-box;
    font-family: 'Inter', sans-serif;
}
body{
    background-color: #f3f5f7;
}
/* Header da página */
header{
    background: rgb(87,74,232);
    background: linear-gradient(90deg, rgba(87,74,232,1) 0%, rgba(62,161,219,1) 100%);
    justify-content: center;
    align-items: center;
    width:100%;
    padding: 1.4rem 0 0rem 0;

}
/* nav */
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom:1rem;
    width: 70%;
    margin: auto;

}
header nav h1{
    color: #fff;
    font-weight: lighter;
}
header nav a{
    text-decoration: none;
    color: #fff;
    font-size:1.3rem;
}
header img{
    width: 11.1%;
    margin: auto;
    display: block;
}
/*  */
/*  */
#cadastro{
    display:flex;
    flex-wrap: wrap;
    padding: 2rem;
    justify-content: center;
    align-items: center;
}
form{
    padding: 1rem;
    background-color: white;
    width: 50%;
    position: relative;
    box-shadow: rgba(149, 157, 165, .5) 0px 8px 24px;
    border-radius: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
form h3{
    width: 100%;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #574BE7;



}
form input, textarea{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: none;
    outline: none;
    background: whitesmoke;
    padding: 0.5rem 0.7rem;
    font-size: 1.2rem;
    border-radius: 9px;
    margin-bottom: 1rem;
}

form label {
    width: 100%;
    font-size: 1.2rem;
    color: rgba(62,161,219,1);
    font-weight: 700;
   
}
form button {
    margin:1.2rem 0 0 0;
    padding:.3rem;
    background-color: #574BE7;
    border-radius: 5px;
    color: white;
    font-size: 1.5rem;
    border: none;
    cursor: pointer;  
    
}
form button:hover {
    background-color: #4587DE;
    color: #fff;
}
section form #cancel:hover{
    background-color: red;
    color: #fff;
}
/*  */