<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Escrever novo post</title>
</head>
<body>
    <form action="POST">
        <label for="Titulo">
            <span>Titulo do artigo</span>
            
        </label>
        <input type="text" name="Titulo" value="">
        <label for="Artigo">
            <span>Artigo</span>
        </label>
            <textarea name="artigo" id="" cols="30" rows="10"></textarea>
        <label for="autor">
            <span>Nome do autor</span>
        </label>
        <input type="text" name="nome" id="nome" placeholder="">

        <button type="submit">Postar</button>
    </form>
</body>
</html>